@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import "../../constants/consts.scss";

html,
body {
  height: 100%;
  overflow: auto;
  font-family: "Ubuntu", sans-serif;
}

table {
  tr,
  td {
    padding: 3px 5px;
  }
}

.container-fluid {
  width: 95%;
  margin: 0 auto;
  max-width: initial;
  > .row {
    margin: 0 auto;
    > .col {
      padding: 1rem;
    }
  }
}

//Skeletons

.mobile-home-skeleton {
  display: none;
}

.mobile-chart-home-skeleton {
  display: none;
}

@media screen and(max-width:768px) {
  .desctop-home-skeleton {
    display: none;
  }

  .desctop-chart-home-skeleton {
    display: none;
  }

  .mobile-home-skeleton {
    display: block;
  }

  .mobile-chart-home-skeleton {
    display: block;
  }
}
