.home {
  .users-container {
    margin-top: 30px;
  }

  .chart {
    width: 80%;
    height: 500px;
    margin: 40px auto 0 auto;
    text-align: center;
  }

  @media screen and(max-width:1240px) {
    .chart {
      width: 102%;
      height: 400px;
    }
  }

  @media screen and(max-width:992px) {
    .chart {
      width: 80%;
    }
  }

  @media screen and(max-width:568px) {
    .users-container {
      margin-top: 0;
    }

    .chart {
      width: 100%;
      height: 310px;
    }
  }
}
